<h1>Save any kind of movies</h1>
<h2>Classic</h2>

<h3>My list</h3>
<%# Movies list box %>
<%= link_to "Create a movie List", new_list_path%>
<% @lists.each do |list|%>
  <%# Show will be here for all the movies %>
  <%= link_to list.name, list_path(list)%>
<% end %>
